@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-VariableFont_wght_1_.woff) format('woff')
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
  background-color: hsl(138, 5%, 51%);
  color: black;
}